form {
  width: 100%;
  max-width: 600px;
  margin: 25px auto;
}

.input-row {
  margin: 25px 0px;
}

label {
  display: block;
  padding-bottom: 5px;
}

input {
  width: 100%;
  padding: 5px;
}

button {
  border-radius: 0px;
  padding: 5px 15px;
  background: none;
  border: 1px solid #607d8b;
  cursor: pointer;
}

.form-message {
  font-size: 10px;
  padding-top: 2px;
}
.form-message.valid {
  color: #4caf50;
}
.form-message.invalid {
  color: #f44336;
}

.has-error {
  border: 1px solid #f44336;
}

.loader-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 82vh;
  background: #9fbbd1;
}

.loader {
  position: relative;
  display: flex;
}

.loader span {
  width: 50px;
  height: 300px;
  margin: 0 20px;
  background: #9fbbd1;
  animation: bars 1.4s linear infinite;
}

.loader span:nth-child(1) {
  animation-delay: 0s;
}
.loader span:nth-child(2) {
  animation-delay: 0.2s;
}
.loader span:nth-child(3) {
  animation-delay: 0.4s;
}
.loader span:nth-child(4) {
  animation-delay: 0.6s;
}
.loader span:nth-child(5) {
  animation-delay: 0.8s;
}
.loader span:nth-child(6) {
  animation-delay: 1s;
}
.loader span:nth-child(7) {
  animation-delay: 1.2s;
}

@keyframes bars {
  0% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translateX(-50px) scale(1);
  }
  50% {
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    opacity: 1;
    transform: translateX(0px) scale(1.2);
  }
  100% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translateX(50px) scale(1);
  }
}

.loader-sidebar-container {
  margin: 0;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: top;
  min-height: 82vh;
  background: #9fbbd1;
}

.loader-sidebar-container svg {
  width: 100px;
  height: 100px;
}

.loader-sidebar-container svg rect {
  width: 100px;
  height: 100px;
  fill: none;
  stroke-width: 100px;
  stroke: #628596;
  stroke-dasharray: 100;
  stroke-dashoffset: 50%;
  animation: square 2s linear infinite;
}

@keyframes square {
  to {
    stroke-dashoffset: 250%;
  }
}
